<h1>Headlines</h1>

<h3>{{ model.name }}</h3>

<h3>{{ model.country }}</h3>

<h3>{{ domainScore }}</h3>

<h3>{{ domainStatus }}</h3>

<h1>Tests</h1>

<h3>spyingCommunicationsTest: {{ spyingCommunicationsTest }}</h3>
<h3>ensuresSiteTest: {{ ensuresSiteTest }}</h3>
<h3>launchMalwareTest: {{ launchMalwareTest }}</h3>

{{ model.scan }}
