<h1>Headlines</h1>

<h3>{{ model.name }}</h3>

<h3>{{ model.country_code }}</h3>

<h3>{{ domainScore }}</h3>

<h3>{{ domainStatus }}</h3>

<h1>Tests</h1>

<h3>Test1:{{ test1Result }}</h3>
<h3>Test2:{{ test2Result }}</h3>
<h3>Test3:{{ test3Result }}</h3>

{{ model.scan }}
