<section class="site-details">

  <ul class="breadcrumb">
    <li class="breadcrumb-item">
      {{#link-to 'headlines'}}{{i18n 'headlines.issues.all'}}{{/link-to}}
    </li>
    <li class="breadcrumb-item">
      {{#link-to 'industry' model.industry.id}}
        {{ model.industry.name }}
      {{/link-to}}
    </li>
    <li class="breadcrumb-item"><a href="http://{{ model.name }}">{{ model.name }}</a></li>
  </ul>

  <h3 class="site-name">{{ model.name }}</h3>
  <div class="site-notes">
    <span class="site-status">
      <i class="fa fa-check-circle value-{{ model.status }}"/>
      {{localeInterpolation 'headlines.test_result' model.status}} - {{ model.score }}%
    </span>
    <span class="site-location">
      {{fa-icon "globe"}}
      {{ model.country }}
    </span>
  </div>

  <h4>{{i18n 'headlines.similar_urls'}}</h4>
  <ul class="test-results">
    {{#each-keys object=model.vulnerabilitiesReport as |key value|}}
      <li>
        {{localeInterpolation 'headlines.issues' key}}
        <div class="value">{{ value }}%</div>
      </li>
    {{/each-keys}}
  </ul>

  <h4>{{i18n 'headlines.tests.title'}}</h4>
  <ul class="tests-list">
    <li>
      <a class='tests-list-toggle' href='#' {{action "testToggle" "spyingTestHide" bubbles=false }}>
        {{#if spyingTestHide}} {{fa-icon "plus-circle"}} {{/if}}
        {{#unless spyingTestHide}} {{fa-icon "minus-circle"}} {{/unless}}
        {{i18n 'headlines.tests.spying-communications.title'}}
      </a>
      <div class="test-notes">
        {{i18n 'headlines.status'}}:
        <span class="value-{{ model.spyingCommunicationsTest }} test-value">
          {{localeInterpolation 'headlines.test_result' model.spyingCommunicationsTest}}
        </span>
        {{i18n 'headlines.issue'}}: {{i18n 'headlines.tests.spying-communications.issues'}}
      </div>
      {{#unless spyingTestHide}}
        <div class='test-description'>
          <h3>What Is This?</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

          <h3>What Does This Mean?</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

          <h3>How do I Fix This?</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

          <h3>Related Articles</h3>
          <ul>
            <li><a href='#'>Article on how fix works</a></li>
            <li><a href='#'>Article on how fix works</a></li>
            <li><a href='#'>Article on how fix works</a></li>
          </ul>
        </div>
      {{/unless}}
    </li>
    <li>
      <a class='tests-list-toggle' href='#' {{action "testToggle" "ensuresTestHide" bubbles=false }}>
        {{#if ensuresTestHide}} {{fa-icon "plus-circle"}} {{/if}}
        {{#unless ensuresTestHide}} {{fa-icon "minus-circle"}} {{/unless}}
        {{i18n 'headlines.tests.ensures-site.title'}}
      </a>
      <div class="test-notes">
        {{i18n 'headlines.status'}}:
        <span class="value-{{ model.ensuresSiteTest }} test-value">
          {{localeInterpolation 'headlines.test_result' model.ensuresSiteTest}}
        </span>
        {{i18n 'headlines.issue'}}: {{i18n 'headlines.tests.ensures-site.issues'}}
      </div>
      {{#unless ensuresTestHide}}
        <div class='test-description'>
          <h3>What Is This?</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

          <h3>What Does This Mean?</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

          <h3>How do I Fix This?</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

          <h3>Related Articles</h3>
          <ul>
            <li><a href='#'>Article on how fix works</a></li>
            <li><a href='#'>Article on how fix works</a></li>
            <li><a href='#'>Article on how fix works</a></li>
          </ul>
        </div>
      {{/unless}}
    </li>
    <li>
      <a class='tests-list-toggle' href='#' {{action "testToggle" "launchMalwareTestHide" bubbles=false }}>
        {{#if launchMalwareTestHide}} {{fa-icon "plus-circle"}} {{/if}}
        {{#unless launchMalwareTestHide}} {{fa-icon "minus-circle"}} {{/unless}}
        {{i18n 'headlines.tests.launch-malware.title'}}
      </a>
      <div class="test-notes">
        {{i18n 'headlines.status'}}:
        <span class="value-{{ model.launchMalwareTest }} test-value">
          {{localeInterpolation 'headlines.test_result' model.launchMalwareTest}}
        </span>
        {{i18n 'headlines.issue'}}: {{i18n 'headlines.tests.launch-malware.issues'}}
      </div>
      {{#unless launchMalwareTestHide}}
        <div class='test-description'>
          <h3>What Is This?</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

          <h3>What Does This Mean?</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

          <h3>How do I Fix This?</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

          <h3>Related Articles</h3>
          <ul>
            <li><a href='#'>Article on how fix works</a></li>
            <li><a href='#'>Article on how fix works</a></li>
            <li><a href='#'>Article on how fix works</a></li>
          </ul>
        </div>
      {{/unless}}
    </li>
  </ul>

</section>
