<article class="static-page headlines-page">
  <header class="container">
    <h2 class="page-title">{{i18n 'headlines.title'}}</h2>
    <p>
      {{{i18n 'headlines.description'}}}
    </p>
  </header>
  <section class="container">
    <form action="#" class="check-site">
      <label for="scan">{{i18n 'headlines.check_form.label'}}</label>
      <input type="url" placeholder="{{i18n 'headlines.check_form.field'}}">
      <button type="submit" class="btn-primary">
        {{i18n 'headlines.check_form.action'}}
      </button>
    </form>
  </section>
  <div class="container row">
    <section class="site-details">
      <ul class="breadcrumb">
        <li class="breadcrumb-item">
          {{#link-to 'headlines'}}{{i18n 'headlines.issues.all'}}{{/link-to}}
        </li>
        <li class="breadcrumb-item"><a href="#">Industry Name 1</a></li>
        <li class="breadcrumb-item"><a href="http://{{ model.name }}">{{ model.name }}</a></li>
      </ul>
      <h3 class="site-name">{{ model.name }}</h3>
      <div class="site-notes">
        <span class="site-status">
          <i class="fa fa-check-circle value-{{ domainStatus }}"/>
          {{localeInterpolation 'headlines.test_result' domainStatus}} - {{ domainScore }}%
        </span>
        <span class="site-location">
          {{fa-icon "globe"}}
          {{ model.country }}
        </span>
      </div>

      <h4>{{i18n 'headlines.similar_urls'}}</h4>
      <ul class="test-results">
        <li>
          {{i18n 'headlines.issues.hsts'}}
          <div class="value">{{ model.vulnerabilities_report.strict_transport_security }}%</div>
        </li>
        <li>
          {{i18n 'headlines.issues.x_xss'}}
          <div class="value">{{ model.vulnerabilities_report.x_xss_protection }}%</div>
        </li>
        <li>
          {{i18n 'headlines.issues.x_content_type'}}
          <div class="value">{{ model.vulnerabilities_report.x_content_type_options }}%</div>
        </li>
        <li>
          {{i18n 'headlines.issues.x_frame_options'}}
          <div class="value">{{ model.vulnerabilities_report.x_frame_options }}%</div>
        </li>
        <li>
          {{i18n 'headlines.issues.x_content_security_options'}}
          <div class="value">{{ model.vulnerabilities_report.content_security_policy }}%</div>
        </li>
      </ul>

      <h4>{{i18n 'headlines.tests.title'}}</h4>
      <ul class="tests-list">
        <li>
          {{fa-icon "plus-circle"}}
          {{i18n 'headlines.tests.spying_communications.title'}}
          <div class="test-notes">
            {{i18n 'headlines.status'}}:
            <span class="value-{{ spyingCommunicationsTest }} test-value">
              {{localeInterpolation 'headlines.test_result' spyingCommunicationsTest}}
            </span>
            {{i18n 'headlines.issue'}}: {{i18n 'headlines.tests.spying_communications.issues'}}
          </div>
        </li>
        <li>
          {{fa-icon "plus-circle"}}
          {{i18n 'headlines.tests.ensures_site.title'}}
          <div class="test-notes">
            {{i18n 'headlines.status'}}:
            <span class="value-{{ ensuresSiteTest }} test-value">
              {{localeInterpolation 'headlines.test_result' ensuresSiteTest}}
            </span>
            {{i18n 'headlines.issue'}}: {{i18n 'headlines.tests.ensures_site.issues'}}
          </div>
        </li>
        <li>
          {{fa-icon "plus-circle"}}
          {{i18n 'headlines.tests.launch_malware.title'}}
          <div class="test-notes">
            {{i18n 'headlines.status'}}:
            <span class="value-{{ launchMalwareTest }} test-value">
              {{localeInterpolation 'headlines.test_result' launchMalwareTest}}
            </span>
            {{i18n 'headlines.issue'}}: {{i18n 'headlines.tests.launch_malware.issues'}}
          </div>
        </li>
      </ul>
    </section>
  </div>
</article>
