<article class="static-page headlines-page">
  <header class="container">
    <h2 class="page-title">{{i18n 'headlines.title'}}</h2>
    <p>
      {{{i18n 'headlines.description'}}}
    </p>
  </header>
  <section class="container">
    <form action="#" class="check-site">
      <label for="scan">{{i18n 'headlines.check_form.label'}}</label>
      <input type="url" placeholder="{{i18n 'headlines.check_form.field'}}">
      <button type="submit" class="btn-primary">
        {{i18n 'headlines.check_form.action'}}
      </button>
    </form>
  </section>
  <div class="container row">
    {{ outlet }}
  </div>
</article>
