<section class="site-details">
  {{#link-to 'headlines.categories' class="nav-back"}}{{fa-icon "arrow-left"}} {{i18n 'headlines.back'}}{{/link-to}}
  <h3 class="site-name">{{ model.name }}</h3>

  {{#if model.scanResults}}
    <div class="site-notes">
      <span class="site-status">
        <i class="fa fa-check-circle value-grade-{{lower-case model.status }}"/> {{ model.status }}
      </span>
    </div>
    {{partial "headlines/tests"}}
  {{else}}
    <div>{{i18n 'headlines.no_results'}}</div>
  {{/if}}
</section>
