<section class="site-details">
  {{#link-to 'headlines.categories' class="nav-back"}}{{fa-icon "arrow-left"}} {{i18n 'headlines.back'}}{{/link-to}}
  <h3 class="site-name">{{ model.name }}</h3>

  {{#if model.scanResults}}
    <div class="site-notes">
      <span class="site-status">
        <i class="fa fa-check-circle value-grade-{{lower-case model.status }}"/> {{ model.status }}
      </span>
    </div>

    <h4>{{i18n 'headlines.tests.title'}}</h4>
    <ul class="tests-list">
      <li>
        {{fa-icon "plus-circle"}}
        {{i18n 'headlines.tests.spying-communications.title'}}
        <div class="test-notes">
          {{i18n 'headlines.status'}}:
          <span class="value-grade-{{lower-case model.spyingCommunicationsTest }} test-value">
            {{model.spyingCommunicationsTest}}
          </span>
          {{i18n 'headlines.issue'}}: {{i18n 'headlines.tests.spying-communications.issues'}}
        </div>
      </li>
      <li>
        {{fa-icon "plus-circle"}}
        {{i18n 'headlines.tests.ensures-site.title'}}
        <div class="test-notes">
          {{i18n 'headlines.status'}}:
          <span class="value-grade-{{lower-case model.ensuresSiteTest }} test-value">
            {{model.ensuresSiteTest}}
          </span>
          {{i18n 'headlines.issue'}}: {{i18n 'headlines.tests.ensures-site.issues'}}
        </div>
      </li>
      <li>
        {{fa-icon "plus-circle"}}
        {{i18n 'headlines.tests.launch-malware.title'}}
        <div class="test-notes">
          {{i18n 'headlines.status'}}:
          <span class="value-grade-{{lower-case model.launchMalwareTest }} test-value">
            {{model.launchMalwareTest}}
          </span>
          {{i18n 'headlines.issue'}}: {{i18n 'headlines.tests.launch-malware.issues'}}
        </div>
      </li>
    </ul>
  {{else}}
    <div>{{i18n 'headlines.no_results'}}</div>
  {{/if}}
</section>
