<section class="site-details">
  {{#link-to 'headlines.categories' class="nav-back"}}{{fa-icon "arrow-left"}} {{i18n 'headlines.back'}}{{/link-to}}
  <h3 class="site-name">{{ model.name }}</h3>

  {{#if hasResults}}
    <div class="site-notes">
      <a
        href="https://twitter.com/share?text={{model.name}}%20graded%20{{model.status}}%20for%20security%20headers%20-&via=srcclr"
        target="_blank"
        title="Share on Twitter"
        class="btn-primary mt-">
        {{fa-icon "twitter" modifier="lg"}}
        Tweet
      </a>
      <a href="https://blog.srcclr.com/http-secure-headers-in-plain-english" target="_blank">
        Read more
        <i class="sci sci__arrow--external-link va-default"></i>
      </a>
      <span class="pull--right">
        <span class="site-overall-grade-label">(Overall Grade)</span>
        <span class="site-status">
          <span class="value-grade-{{lower-case model.status }}">{{ model.status }}</span>
        </span>
      </span>
    </div>
    {{partial "headlines/tests"}}
  {{else}}
    <div>{{i18n 'headlines.no_results'}}</div>
  {{/if}}
</section>
