<aside class="headlines-filters">
  {{partial 'headlines/filters'}}

  <br/>
  <p>Domains scanned: <b>{{model.domainsScanned}}</b></p>
  <p>Last scan: <b>{{formatted-date model.lastScan "D MMM YYYY"}}</b></p>
  <p>{{#link-to "discovery.parentCategory" "security-headers"}}Discuss this project{{/link-to}}</p>
</aside>

{{#conditional-loading-spinner condition=loading}}
  {{#unless domainsEmpty}}
    <section class="categories-list">
      <nav class="switch-controls">
        <a href="#" {{action "showMosaic"}} {{bind-attr class="showMosaicChart:active-switch"}}>
          {{fa-icon "th"}}
          {{i18n 'headlines.chart_type.mosaic'}}
        </a>
        <a href="#" {{action "showPie"}} {{bind-attr class="showMosaicChart::active-switch"}}>
          {{fa-icon "pie-chart"}}
          {{i18n 'headlines.chart_type.pie'}}
        </a>
      </nav>
      <div>
        <ul>
          {{#each category in model.categories}}
            {{#if category.domains}}
              <li class="category-card">
                <h3>{{category.title}}</h3>

                <p>{{i18n 'headlines.statistic_by_sites'}}</p>

                <div class="chart">
                  {{category-chart model=category type=chartType}}

                  <ul {{bind-attr class="showMosaicChart:mozaic-chart-labels:pie-chart-labels"}}>
                    <li>
                      <span class="chart-label">A</span>
                      <span class="label-grade-a">{{category.gradeA}}</span>
                    </li>
                    <li>
                      <span class="chart-label">B</span>
                      <span class="label-grade-b">{{category.gradeB}}</span>
                    </li>
                    <li>
                      <span class="chart-label">C</span>
                      <span class="label-grade-c">{{category.gradeC}}</span>
                    </li>
                    <li>
                      <span class="chart-label">D</span>
                      <span class="label-grade-d">{{category.gradeD}}</span>
                    </li>
                  </ul>
                </div>

                {{#link-to 'headlines.categories-show' category.id class="btn--full btn--primary"}}
                  {{i18n 'headlines.view_all_sites'}}
                {{/link-to}}
              </li>
            {{/if}}
          {{/each}}
        </ul>
      </div>
    </section>
  {{else}}
    <div>{{i18n 'headlines.no_results'}}</div>
  {{/unless}}
{{/conditional-loading-spinner}}
