<section class="site-details">
  {{#categories-breadcrumbs category=model.category }}
    <li class="breadcrumb-item"><a href="http://{{ model.name }}">{{ model.name }}</a></li>
  {{/categories-breadcrumbs}}

  <h3 class="site-name">{{ model.name }}</h3>
  <div class="site-notes">
    <span class="pull--right">
      <span class="site-overall-grade-label">(Overall Grade)</span>
      <span class="site-status">
        <span class="value-grade-{{lower-case model.status }}">{{ model.status }}</span>
      </span>
    </span>
    <div class="site-location">
      <span class="site-location">
        {{fa-icon "globe"}} {{ model.country }}
      </span>
    </div>
    <a href="https://blog.srcclr.com/http-secure-headers-in-plain-english" class="color--primary mt inline-block" target="_blank">
      Read more about security headers
      <i class="sci sci__arrow--external-link va-default"></i>
    </a>
  </div>

  {{partial "headlines/tests"}}
</section>
