<section class="site-details">
<ul class="breadcrumb">
  <li class="breadcrumb-item">
  {{#link-to 'headlines'}}{{i18n 'headlines.issues.all'}}{{/link-to}}
  </li>
  <li class="breadcrumb-item">
  {{#link-to 'headlines.category' model.category.id}}
  {{ model.category.name }}
  {{/link-to}}
  </li>
  <li class="breadcrumb-item"><a href="http://{{ model.name }}">{{ model.name }}</a></li>
</ul>
<h3 class="site-name">{{ model.name }}</h3>
<div class="site-notes">
  <span class="site-status">
    <i class="fa fa-check-circle value-{{ model.status }}"/>
      {{localeInterpolation 'headlines.test_result' model.status}} - {{ model.score }}%
    </span>
    <span class="site-location">
      {{fa-icon "globe"}}
      {{ model.country }}
    </span>
  </div>

  <h4>{{i18n 'headlines.similar_urls'}}</h4>
  <ul class="test-results">
    {{#each-keys object=model.vulnerabilitiesReport as |key value|}}
    <li>
    {{localeInterpolation 'headlines.issues' key}}
    <div class="value">{{ value }}%</div>
    </li>
    {{/each-keys}}
  </ul>

  <h4>{{i18n 'headlines.tests.title'}}</h4>
  <ul class="tests-list">
    <li>
    {{fa-icon "plus-circle"}}
    {{i18n 'headlines.tests.spying-communications.title'}}
    <div class="test-notes">
      {{i18n 'headlines.status'}}:
      <span class="value-{{ spyingCommunicationsTest }} test-value">
        {{localeInterpolation 'headlines.test_result' spyingCommunicationsTest}}
      </span>
      {{i18n 'headlines.issue'}}: {{i18n 'headlines.tests.spying-communications.issues'}}
    </div>
    </li>
    <li>
    {{fa-icon "plus-circle"}}
    {{i18n 'headlines.tests.ensures-site.title'}}
    <div class="test-notes">
      {{i18n 'headlines.status'}}:
      <span class="value-{{ ensuresSiteTest }} test-value">
        {{localeInterpolation 'headlines.test_result' ensuresSiteTest}}
      </span>
      {{i18n 'headlines.issue'}}: {{i18n 'headlines.tests.ensures-site.issues'}}
    </div>
    </li>
    <li>
    {{fa-icon "plus-circle"}}
    {{i18n 'headlines.tests.launch-malware.title'}}
    <div class="test-notes">
      {{i18n 'headlines.status'}}:
      <span class="value-{{ launchMalwareTest }} test-value">
        {{localeInterpolation 'headlines.test_result' launchMalwareTest}}
      </span>
      {{i18n 'headlines.issue'}}: {{i18n 'headlines.tests.launch-malware.issues'}}
      </div>
    </li>
  </ul>
</section>
