<section class="site-details">
  {{#categories-breadcrumbs category=model.category }}
    <li class="breadcrumb-item"><a href="http://{{ model.name }}">{{ model.name }}</a></li>
  {{/categories-breadcrumbs}}

  <h3 class="site-name">{{ model.name }}</h3>
  <div class="site-notes">
    <span class="site-status">
      <i class="fa fa-check-circle value-grade-{{lower-case model.status }}" />
      <span class="value-grade-{{lower-case model.status }}">{{ model.status }}</span>
    </span>
    <span class="site-location">
      {{fa-icon "globe"}} {{ model.country }}
    </span>
  </div>

  {{partial "headlines/tests"}}
</section>
