<div class="mb">
  {{#if addMode}}
    {{partial "shared/add-favorite-domain-form"}}
  {{else}}
    {{d-button action="addDomain" icon="plus" label="headlines.add_domain" class="btn--primary"}}
  {{/if}}
</div>

{{#if model}}
  <table class="domains-list-table mb">
    <thead>
      <tr>
        <th class="w--45">Site URL</th>
        <th class="w--25">Notifications</th>
        <th class="w--5"></th>
      </tr>
    </thead>

    {{#each domain in model itemController="headlines-favorite-domain"}}
      <tr>
        <td>
          <a href="http://{{domain.model.url}}" target="_blank">{{domain.model.url}}</a>
        </td>
        <td>
          <button {{action "setNotificationType" "never"}} {{bind-attr class=":btn--xs domain.isNever:btn--default:btn"}}>Never</button>
          <button {{action "setNotificationType" "daily"}} {{bind-attr class=":btn--xs domain.isDaily:btn--default:btn"}}>Daily</button>
          <button {{action "setNotificationType" "weekly"}} {{bind-attr class=":btn--xs domain.isWeekly:btn--default:btn"}}>Weekly</button>
          <button {{action "setNotificationType" "monthly"}} {{bind-attr class=":btn--xs domain.isMonthly:btn--default:btn"}}>Monthly</button>
        </td>
        <td>{{d-button action="destroy" icon="trash-o"}}</td>
      </tr>
    {{/each}}
  </table>
{{/if}}
