<aside class="headlines-filters">
  <label class="filter-type" for="country">{{i18n 'headlines.country'}}</label>
  {{combo-box valueAttribute="value" content=countries value=country_code}}

  <label class='filter-type' for='rating'>{{i18n 'headlines.rating.label'}}</label>
  <ul>
    {{#each rating in ratings}}
      <li>
        <label for="r_{{rating}}">
          <input type="checkbox" id="r_{{rating}}">
          {{localeInterpolation 'headlines.rating' rating}}
        </label>
      </li>
    {{/each}}
  </ul>

  <label class="filter-type" for="issue_type">{{i18n 'headlines.issue_type'}}</label>
  <ul>
    {{#each type in issueTypes}}
      <li>
        <label for="{{type}}">
          <input type="checkbox" id="{{type}}">
          {{localeInterpolation 'headlines.issues' type}}
        </label>
      </li>
    {{/each}}
  </ul>
</aside>
<section class="sites-list">
  <div class="pull-right last-scan">
    {{fa-icon "clock-o"}}
    {{i18n 'headlines.last_scan'}}: 17 Dec 2220
  </div>
  {{#link-to 'industries' class="nav-back"}}{{fa-icon "arrow-left"}} {{i18n 'headlines.back'}}{{/link-to}}
  <h3 class="industry-title industry-status-excellent">{{ model.name }}</h3>
  <ul class="compact-labels">
    <li>
      <span class="chart-value value-excellent">100%</span>
    </li>
    <li>
      <span class="chart-value value-poor">100%</span>
    </li>
    <li>
      <span class="chart-value value-bad">100%</span>
    </li>
  </ul>
  <div class="table-search">
    <input class="col-6" placeholder="Filter by URL" type="search">
    <i class="fa fa-search"></i>
  </div>
  <table class="topic-list">
    <thead>
      <tr>
        <th data-sort-order="default" class="default">
          {{i18n 'headlines.url'}}
        </th>
        <th data-sort-order="category" class="category sortable">
          {{i18n 'headlines.country'}}
        </th>
        <th data-sort-order="posters" class="posters">
          {{i18n 'headlines.passed_tests'}}
        </th>
      </tr>
    </thead>
    <tbody>
      {{#each domain in model.domains}}
        <tr class="topic-list-item">
          <td class="main-link clearfix">
            {{#link-to 'domains' model.id domain.id }}
              {{ domain.name }}
              {{fa-icon "external-link"}}
            {{/link-to}}
          </td>
          <td class="category">{{ domain.country }}</td>
          <td><div class="value-{{ domain.status }}">{{ domain.score }}%</div></td>
        </tr>
      {{/each}}
    </tbody>

    {{conditional-loading-spinner condition=view.loading}}
  </table>
</section>
