<div class="tests-section">
  <h3>
    HTTP headers
    <span class="tests-overall-score">Grade:
      <strong class="headers-grade value-grade-{{lower-case model.http_grade}}">{{ model.http_grade }}</strong>
    </span>
  </h3>
  <table class="tests-table">
    {{#each header in model.httpHeaders}}
      <tr>
        <td class="headers-name">
          <span class="test-title">{{ header.label }}</span>
        </td>
        <td>
          {{#if header.scorePositive}}
            <span class="test-value">{{ header.title }}: {{ header.value }}</span>
            <span class="test-value-description">{{ header.description }}</span>
          {{else}}
            {{#if header.isHsts}}
              {{#if model.sslEnabled}}
                <span class="test-value">{{ header.missingTitle }}</span>
                <span class="test-value-description">{{ header.description }}</span>
              {{else}}
                <span class="test-value">TLS/SSL is not enabled</span>
                <span class="test-value-description">
                  The connection to this web server is vulnerable to man-in-the-middle and eavesdropping attacks.
                </span>
              {{/if}}
            {{else}}
              <span class="test-value">{{ header.missingTitle }}</span>
              <span class="test-value-description">{{ header.description }}</span>
            {{/if}}
          {{/if}}
        </td>
        <td><i {{bind-attr class=":fa header.icon"}}></i></td>
      </tr>
    {{/each}}
  </table>
</div>

<div class="tests-section">
  <h3>
    CSP header
    <span class="tests-overall-score">Grade:
      <strong class="headers-grade value-grade-{{lower-case model.csp_grade}}">{{ model.csp_grade }}</strong>
    </span>
  </h3>

  <table class="tests-table">
    {{#if model.cspHeader.directives.length}}
      <tr>
         <td class="pt- pb-" colspan="2">
          <span class="test-title mb-">Content-Security-Policy:</span>
          <ul class="ml0 pl0">
            {{#each directive in model.cspHeader.directives}}
              <li class="test-value-description">
                {{ directive }};
              </li>
            {{/each}}
          </ul>
        </td>
      </tr>
    {{/if}}

    {{#each test in model.cspHeader.tests}}
      {{#if test.isApplicable}}
        <tr>
          <td>
            <span class="test-title">{{ test.title }}</span>
            <span class="test-value-description">{{ test.description }}</span>
          </td>
          <td><i {{bind-attr class=":fa test.icon"}}></i></td>
        </tr>
      {{/if}}
    {{/each}}
  </table>
</div>
